<!DOCTYPE html>
<style>
 a{
 padding:3px;
 background-color: #ccc
}
</style>
<html>
  <head>
    <meta charset="utf-8" lang="en">
    <title>Odd Realm Botany</title>
  </head>

  <body>
      <p>{% if current_user.is_authenticated %}
        Logged in as {{ current_user.username }}.    <a href="{{ url_for('auth_logout') }}">Log out</a>
      {% else %}
      <a href="{{ url_for('auth_login') }}">Log in</a>  <a href="{{ url_for('auth_new_user') }}">Sign up</a>
      {% endif %}</p>

      <a href="{{ url_for('index') }}">To Main Page</a>  
      <a href="{{ url_for('plant_new') }}">Add a plant</a>
      <a href="{{ url_for('tag_new') }}">Create a new tag</a><br><br>
  <body>
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>
