{% extends "layout.html" %}

{% block body%}
<form method="POST" action="{{ url_for('tag_new') }}">
    <table>
        {% for field in form %}
        <tr>
            {% if field.name!="button" %}
                <td>{{ field.label }}</td>
                <td>{{ field }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <!-- validator error list-->
    {% for field in form %}
    </ul>
        {% for error in field.errors %}
        <li>{{ field.label}}: {{ error }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
    {{ form.button }}
</form>
{% endblock %}