<style>
	table{
		width:70%;
		border-collapse: collapse;
	}
	th {
		text-align: left;
		background-color: #aaa;
	}
	tr:nth-child(even) {
		background-color: #eee;
	}
	tr:nth-child(odd) {
		background-color: #fff;
	}
</style>

<table>
	<tr>
		<th>Name </th>
		<th>Mature time </th>
		<th>Tree?</th>
		<th>Tags</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	{% for plant in plants %}
	<tr>
		<td>{{ plant.name }}</td>
		<td>{{ plant.mature_time }}h</td>
		<td>
		{% if plant.is_tree == true %}
		✓
		{% else %}
		x
		{% endif %}
		</td>
		<td>
		{% for tag in plant.tags %}
			<a href="{{ url_for('tag_list', tag_id = tag.id) }}">{{ tag.name }}</a>
		{% endfor %}
		</td>
		<td>
			<form method="GET" action="{{ url_for('plant_edit', edit_id=plant.id) }}">
					<input type="submit" value="Edit"/>
			</form>
		</td>
		<td>
			<form method="POST" action="{{ url_for('plant_remove', remove_id=plant.id) }}">
				<input type="submit" value="Delete"/>
			</form>
		</td>
		<td>
			<form method="GET" action="{{ url_for('plant_tag', plant_id=plant.id) }}">
					<input type="submit" value="Tag"/>
			</form>
		</td>
		<td>
			<form method="GET" action="{{ url_for('plant_untag', plant_id=plant.id) }}">
					<input type="submit" value="Remove a Tag"/>
			</form>
		</td>
	</tr>
	{% endfor %}
</table>